:root {
    --cor-principal: #C350F9;
    --cor-secundaria: #5709BB;
    --fundo-azul: #1D1D3F;
    --branco: #FFF;
}

/* semantic color variables for this project */
:root {
    font-size: 62.5%;
}

/*Textos*/
.title-big {
    font-size: 4.8rem;
    font-weight: 800;
    color: var(--branco);
}

.title {
    font-size: 2.6rem;
    font-weight: 800;
    color: var(--branco);
    text-transform: uppercase;
}

.title-small {
    font-weight: 2.4rem;
    font-weight: 800;
    color: var(--branco);
}

.subtitle {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--cor-principal);
    margin-top: 0.6rem;
    text-transform: uppercase;
}

.subtitle-lato {
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--cor-principal);
    margin-top: 1.6rem;
}

.text {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--branco);
}

/*Outros */
.text-highlight {
    color: var(--cor-principal);
}